<b>Bienvenue sur strat editor {{username}} !</b><br/>
<br/>
Veuillez cliquer sur le lien ci-dessous pour vérifier votre adresse email et débloquer l'ensemble des fonctionnalités du site. <br/>
Ce lien expire 30 minute après son émition.<br/> 
<br/> 
<a href="{{link}}">{{link}}</a>