<b>Welcome to draw editor {{username}} !</b><br />
<br />
Please click on the following link to confirm your email address and start using
Draw Editor.<br />
This link will expire in 30 minutes.<br />
<br />
<a href='{{link}}'>{{link}}</a>
